<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Badge - Badges for your site to display download totals, latest version using PyPI">

        <title>Badge - Badges for your site to display download totals, latest version using and much more <3</title>

        <link rel="icon"       href="/static/img/favicon.png">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/app.css">

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href=" ">
                        <img alt="Badge" src="/static/img/favicon.png"> Badge <small>by Kloud51</small>
                    </a>
                </div>
            </div>
        </nav>

        <div class="container">

            <div class="col-md-9">

                <div class="main">

                    <div class="format-switcher btn-group pull-right" data-toggle="buttons">

                        <label class="btn btn-success    btn-sm" onclick="set_format(0)">
                            <input type="radio" name="options" autocomplete="off"> PNG
                        </label>

                        <label class="btn btn-success    btn-sm active" onclick="set_format(1)">
                            <input type="radio" name="options" autocomplete="off"> SVG
                        </label>

                    </div>

                    <ul class="services nav nav-tabs">
                        <li data-toggle="tab" onclick="set_service('pypi')" class="active"><a class="bg-me">PyPi</a></li>
                        <li data-toggle="tab" onclick="set_service('aur')"                ><a class="bg-me">AUR</a></li>
                    </ul>

                    <div class="search">

                        <form onsubmit="return search(event)">

                            <input onclick="this.select()" class="search form-control input-lg" value="html2text" placeholder="Package..." required>

                        </form>

                    </div>

                    <div class="actions">
                        <div class="panel panel-default panel-body">
                            <p class="col-xs-2">Version</p>
                            <span class="col-xs-8">
                                <input onclick="this.select()" class="form-control badge-url" readonly="" value="http://badge.kloud51.com/pypi/v/html2text.svg">
                            </span>
                            <span class="col-xs-2">
                                <img class="pull-right badge-image" src="http://badge.kloud51.com/pypi/v/html2text.svg">
                            </span>
                        </div>
                        <div class="panel panel-default panel-body">
                            <p class="col-xs-2">Downloads</p>
                            <span class="col-xs-8">
                                <input onclick="this.select()" class="form-control badge-url" readonly="" value="http://badge.kloud51.com/pypi/d/html2text.svg">
                            </span>
                            <span class="col-xs-2">
                                <img class="pull-right badge-image" src="http://badge.kloud51.com/pypi/d/html2text.svg">
                            </span>
                        </div>
                        <div class="panel panel-default panel-body">
                            <p class="col-xs-2">Wheel</p>
                            <span class="col-xs-8">
                                <input onclick="this.select()" class="form-control badge-url" readonly="" value="http://badge.kloud51.com/pypi/w/html2text.svg">
                            </span>
                            <span class="col-xs-2">
                                <img class="pull-right badge-image" src="http://badge.kloud51.com/pypi/w/html2text.svg">
                            </span>
                        </div>
                        <div class="panel panel-default panel-body">
                            <p class="col-xs-2">License</p>
                            <span class="col-xs-8">
                                <input onclick="this.select()" class="form-control badge-url" readonly="" value="http://badge.kloud51.com/pypi/l/html2text.svg">
                            </span>
                            <span class="col-xs-2">
                                <img class="pull-right badge-image" src="http://badge.kloud51.com/pypi/l/html2text.svg">
                            </span>
                        </div>
                        <div class="panel panel-default panel-body">
                            <p class="col-xs-2">Format</p>
                            <span class="col-xs-8">
                                <input onclick="this.select()" class="form-control badge-url" readonly="" value="http://badge.kloud51.com/pypi/f/html2text.svg">
                            </span>
                            <span class="col-xs-2">
                                <img class="pull-right badge-image" src="http://badge.kloud51.com/pypi/f/html2text.svg">
                            </span>
                        </div>
                        <div class="panel panel-default panel-body">
                            <p class="col-xs-2">Python Versions</p>
                            <span class="col-xs-8">
                                <input onclick="this.select()" class="form-control badge-url" readonly="" value="http://badge.kloud51.com/pypi/f/html2text.svg">
                            </span>
                            <span class="col-xs-2">
                                <img class="pull-right badge-image" src="http://badge.kloud51.com/pypi/py_versions/html2text.svg">
                            </span>
                        </div>
                        <div class="panel panel-default panel-body">
                            <p class="col-xs-2">Status</p>
                            <span class="col-xs-8">
                                <input onclick="this.select()" class="form-control badge-url" readonly="" value="http://badge.kloud51.com/pypi/s/html2text.svg">
                            </span>
                            <span class="col-xs-2">
                                <img class="pull-right badge-image" src="http://badge.kloud51.com/pypi/s/html2text.svg">
                            </span>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-3">

                <div class="main">

                    <a class="btn btn-block btn-lg btn-success" target="_BLANK" href="https://github.com/SavandBros/badge" >
                        Badge <small>Github</small>
                    </a>

                    <a class="btn btn-block btn-default"        target="_BLANK" href="https://github.com/SavandBros/badge/issues" >
                        Issues
                    </a>

                    <a class="btn btn-block btn-default"        target="_BLANK" href="https://kloud51.com" >
                        Kloud51
                    </a>

                </div>

            </div>

        </div>

        <div class="footer">

            <div class="container">

                <p class="text-right">Copyright 2016 Kloud51.com &copy; All rights reserved.</p>

            </div>

        </div>

        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/app.js"></script>
    </body>
</html>
